<div class="container">
  <h2>Nouvelle entreprise</h2>
  <div class="row">
    <div class="col-sm-6">
      <%= simple_form_for @firm, url: firms_path, method: "POST", remote: true do |f| %>
        <%= f.error_notification %>
        <br>
        <%= f.input :name, placeholder: "Donnez un nom à cette entreprise", label: false, required: false, autofocus: true %>
        <%= f.input :description, placeholder: "Description", label: false, input_html: { id: 'description'}, required: false, autofocus: true %>
         <br>
        <div class="nested-fields form-inputs" id="location-firm-form">
          <%= f.simple_fields_for @location do |l| %>
            <%= l.error_notification %>
            <br>
            <%= render 'locations/location_fields', f: l %>
          <% end %>
        </div>
        <div>
          <%= f.button :submit, "Sauvegarder" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


