<div class="container">
  <h2>Nouvelle adresse</h2>

  <div class="row">
    <div class="col-sm-6">
      <%= simple_form_for @location, url: locations_path, method: "POST", remote: true do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :name, placeholder: "Donnez un nom à cette adresse", label: false, required: false, autofocus: true %>
          <div class="form-inline">
            <p>Latitude</p>
            <div id="lat"></div>
            <p>Longitude</p>
            <div id="lng"></div>
          </div>
          <%= f.input :address, placeholder: "Adresse détaillée", label: false, input_html: { id: 'address'}, required: true, autofocus: true %>
        </div>
        <div>
          <%= f.button :submit, "Sauvegarder" %>
        </div>
      <% end %>
    </div>
  </div>
</div>






