<!DOCTYPE html>
<html>
  <head>
    <title>Les Petits Marchés du Coin</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class='site'>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="site-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>


    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= javascript_tag do %>
      mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>'
    <% end %>
    <%= yield(:after_js) %>
  </body>
</html>

